.boardWrap {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tab,
form {
  display: flex;
}

form {
  width: 570px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

form select {
  width: 300px;
  height: 50px;
  font-family: "Nanum_normal";
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--main);
  border-radius: 5px;
}

option {
  height: 40px;
  text-decoration: none;
}

.tab {
  width: 400px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

main {
  display: flex;
  justify-content: flex-start;
  padding: 30px 40px;
  width: 100%;
  height: calc(100vh - 120px);
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  gap: 13px;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;

  /* 스크롤바 커스텀 스타일 */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #646464 #f0f0f0; /* Firefox */
}

/* Chrome, Safari, Edge 브라우저용 스크롤바 스타일 */
main::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
  border-radius: 5px;
}

main::-webkit-scrollbar-thumb {
  background-color: #666666; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 코너 반경 */
}

main::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 스크롤바 트랙 색상 */
  border-radius: 10px; /* 스크롤바 트랙 코너 반경 */
}

.content {
  width: 200px;
  height: 200px;
  border: 1px solid var(--main);
  box-shadow: 0 0 8px 0 var(--shadow);
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content.selected {
  background-color: #eee4f0;
}

.conTag {
  padding: 6px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
}

.contentMain {
  overflow: hidden;
  height: 160px;
  line-height: 26px;
  word-break: keep-all;
}

#s10 {
  background-color: #e4b758;
}

#s20 {
  background-color: #ece24b;
}

#s30 {
  background-color: #3fc572;
}

#s40 {
  background-color: #e76060;
}

#s50 {
  background-color: #af79ec;
}

.content:hover,
.tabBtn:hover {
  transform: scale(1.02);
}

.tabBtn {
  width: 250px;
  height: 50px;
  border: 1px solid var(--main);
  box-shadow: 0 0 8px 0 var(--shadow);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}

.active {
  color: white;
  background-color: var(--main);
}

textarea {
  border: 1px solid var(--main);
  border-radius: 5px;
  width: 282px;
  height: 64vh;
  resize: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Nanum_normal";
  padding: 7px;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reset {
  width: 100px;
  height: 40px;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.reset:hover {
  background-color: #ececec;
}

.insert {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.insert:hover {
  filter: brightness(93%);
}
